@charset "utf-8";
body{
	padding: 0;
	margin: 0;
}
img{
	position: absolute;
}
.j11{
	left:1007px;
	top: 147px;
}
.D11{
	left: 207px;
	top:277px;
}
.R1{
	left:720px;
	top:488px;
	opacity: 0;
	transition: opacity 1s;
}
.R1:hover{
	opacity: 1;
}
.R2{
	left: 1369px;
	top:298px;
	opacity: 0;
	transition: opacity 3s;
}
.R2:hover{
	opacity: 1;
}
.player{
	position: absolute;
	left: 600px;
	z-index: 100000;
	opacity: 0;
	transition: opacity 5s;
}
.player:hover{
	opacity: 1;
}